<!DOCTYPE html>
<html>
  <head>
    <title>Tri-party:Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
    <!-- CSS Libs-->
    <link rel="stylesheet" type="text/css" href="resources/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="resources/lib/css/checkbox3.min.css">
    
    <link rel="stylesheet" type="text/css" href="resources/lib/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS App-->
    <!-- link(rel='stylesheet', type='text/css', href='resources/css/style.css')-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
   <!--  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
    <script type="text/javascript" src="js/angular/angular.js">
    </script>
    <script type="text/javascript" src="js/angular/angular-route.js">
    </script>
   <!-- <link href="https://gitcdn.github.io/angular-bootstrap-toggle/{version}/dist/angular-bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/{version}/dist/angular-bootstrap-toggle.min.js"></script> -->
    <script type="text/javascript" src="js/app.js">
    </script>
    <script type="text/javascript" src="js/controllers.js">
    </script>
   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="resources/lib/js/jquery.min.js">
    </script>
    <script type="text/javascript" src="resources/lib/js/bootstrap.min.js">
    </script>
    <style>
      .img-responsive{
        border-radius: 100%;
        }
    
    .navbar {min-height: 15px;}
    .navbar-center{
      text-align:center;
    }
    </style>
  </head>
  <body style="background-color:Silver ;">
    <div class="container-fluid">
    <div class="row">
         <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           
                <img src="resources/img/wipro1.jpg" class="img-responsive">
                   </li>
                   </ul>
                   <ul class="nav navbar-nav navbar-left">
                   <li>
                     <P style="color:white; font-size:25px;">WIPRO TECHNOLOGIES</P>
                   </li>
                      
                    </ul>
                </div>
            </nav>
    </div>
   <div class="row">
   <div class="col-sm-3"></div>
   <div class="col-sm-6">
    <div class="alert alert-info">
    <h3 style="text-align:center;"><b>Triparty Collateral Management System</b></h3>
                       
    </div>
   </div>
    <div class="col-sm-3"></div>
   </div>
      <div class="row">

        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="well bs-component">
            <form id="myForm" action="/userLogin" method="post" class="form-horizontal">
              <fieldset>
                <legend>Login</legend>
                <input type="text" name="username" placeholder="Username" class="form-control"><br>
                <input id="pass" type="password" name="pass" placeholder="Password" class="form-control"><br>
                <button type="submit" class="btn btn-outline btn-primary">Login</button>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="col-sm-4">
        <!-- <div class="pull-right">
        <img src="resources/img/wipro.jpg" class="img-responsive">
        </div> -->
        </div>
      </div>
    </div>
  </body>
  <!-- Javascript Libs-->
  <script type="text/javascript" src="resources/lib/js/jquery.min.js"></script>
  <script type="text/javascript" src="resources/lib/js/bootstrap.min.js"></script>
</html>